doctype 5
html
  head
    title= title || "Hi"

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    != css('main')
    != js('pre_app')

  body
    
    block content

    != js('app')
      